* {
    margin: 0;
    padding: 0;
}

.bg-red {
    padding: 50px;
    background-color: red;
    position: sticky;
    top: 0;
}

.bg-blue {
    padding: 50px;
    background-color: blue;
    display: none;
}

body {
    background: linear-gradient(135deg, #0ea5e9 0%, #a78bfa 50%, #f472b6 100%);
    height: 200vh;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: center;
    justify-content: flex-start
}
.flex-container {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.flex-item {
    border-radius: 10px;
    height: 300px;
    width: 30%;
    background-color: white;
}